@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Special+Gothic:wght@400..700&display=swap');
@import "tailwindcss";

h1, p, input, button{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
}