@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Special+Gothic:wght@400..700&display=swap');
@import "tailwindcss";

body{
    background-size: 300%;
    animation: value 50s ease-in-out infinite;
}
@keyframes value {
    from, to{background-position: 0%;}
    50%{background-position: 100%;}
}

@layer components{
    .items{
        @apply relative w-full h-fit  p-0 m-auto 
        bg-linear-60 from-slate-800 via-slate-700 to-slate-600 border-white border-2
        flex flex-col align-middle
    }
    h2{
        @apply text-white text-xl font-semibold mb-[5%]
    }
    p{
        @apply text-white text-xl font-light mb-[5%]
    }
}

h1, h2, p, button, li a, select, option, select option{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
}