@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Special+Gothic:wght@400..700&display=swap');
@import "tailwindcss";

h1, button, li a, li p, td, li, input{
    font-family: "Raleway", sans-serif;
    font-style: normal;
}