@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Special+Gothic:wght@400..700&display=swap');
@import "tailwindcss";

@keyframes value1 {
    from, to{height: 7vh;}
    50%{height: 9vh;}
}

@keyframes value2 {
    from, to{height: 14vh;}
    50%{height: 18vh;}
}

@keyframes value3 {
    from, to{height: 18vh;}
    50%{height: 14vh;}
}

@keyframes value4 {
    from, to{height: 9vh;}
    50%{height: 7vh;}
}

.item3{
    animation: value1 40s ease-in-out infinite;
}
.item4{
    animation: value2 40s ease-in-out infinite;
}
.item1{
    animation: value3 45s ease-in-out infinite;
}
.item2{
    animation: value4 45s ease-in-out infinite;
}

h1, p, li, li a, button, p strong, tr td, input, textarea, h2{
    font-family: "Raleway", sans-serif;
    font-style: normal;
}
h1{
    font-weight: 400;
}